absl-py==0.11.0
aiohttp==3.7.3
albumentations==0.5.2
antlr4-python3-runtime==4.8
async-timeout==3.0.1
attrs==20.3.0
cachetools==4.2.1
certifi==2020.12.5
chardet==3.0.4
click==7.1.2
colorama==0.4.4
cycler==0.10.0
decorator==4.4.2
efficientnet-pytorch==0.6.3
fsspec==0.8.5
future==0.18.2
google-auth==1.27.0
google-auth-oauthlib==0.4.2
grpcio==1.35.0
hydra-core==1.0.6
idna==2.10
imageio==2.9.0
imgaug==0.4.0
importlib-resources==5.1.0
kiwisolver==1.3.1
Markdown==3.3.3
matplotlib==3.3.4
multidict==5.1.0
munch==2.5.0
networkx==2.5
numpy==1.20.1
oauthlib==3.1.0
omegaconf==2.0.6
opencv-python==4.5.1.48
opencv-python-headless==4.5.1.48
Pillow==8.1.0
pretrainedmodels==0.7.4
protobuf==3.14.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==2.4.7
python-dateutil==2.8.1
pytorch-lightning==1.1.8
PyWavelets==1.1.1
PyYAML==5.3.1
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.1
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
scikit-image==0.18.1
scipy==1.6.1
segmentation-models-pytorch==0.1.3
Shapely==1.7.1
six==1.15.0
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tifffile==2021.2.1
timm==0.3.2
tqdm==4.57.0
typing-extensions==3.7.4.3
urllib3==1.26.3
Werkzeug==1.0.1
yarl==1.6.3
