absl-py==0.11.0
albumentations==0.5.2
antlr4-python3-runtime==4.8
backcall==0.2.0
beautifulsoup4==4.9.3
cachetools==4.2.0
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==7.1.2
colorama==0.4.4
cryptography==2.9.2
cycler==0.10.0
dataclasses==0.6
decorator==4.4.2
dnspython==2.0.0
efficientnet-pytorch==0.6.3
filelock==3.0.12
future==0.18.2
glob2==0.7
google-auth==1.24.0
google-auth-oauthlib==0.4.2
grpcio==1.34.0
hydra-core==1.0.4
idna==2.9
imageio==2.9.0
imgaug==0.4.0
importlib-resources==4.0.0
ipython==7.18.1
ipython-genutils==0.2.0
jedi==0.17.2
Jinja2==2.11.2
kiwisolver==1.3.1
libarchive-c==2.9
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib==3.3.3
munch==2.5.0
networkx==2.5
numpy==1.19.2
oauthlib==3.1.0
olefile==0.46
omegaconf==2.0.5
opencv-python==4.4.0.46
opencv-python-headless==4.4.0.46
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.0.0
pkginfo==1.6.0
pretrainedmodels==0.7.4
prompt-toolkit==3.0.8
protobuf==3.14.0
psutil==5.7.2
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat==0.6.3
pycparser==2.20
Pygments==2.7.1
pyOpenSSL==19.1.0
pyparsing==2.4.7
PySocks==1.7.1
python-dateutil==2.8.1
python-etcd==0.4.5
pytz==2020.1
PyWavelets==1.1.1
PyYAML==5.3.1
requests==2.23.0
requests-oauthlib==1.3.0
rsa==4.6
ruamel-yaml==0.15.87
scikit-image==0.18.1
scipy==1.5.4
segmentation-models-pytorch==0.1.3
Shapely==1.7.1
six==1.14.0
soupsieve==2.0.1
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
tifffile==2020.12.8
timm==0.3.2
torchelastic==0.2.1
tqdm==4.46.0
traitlets==5.0.5
typing-extensions==3.7.4.3
urllib3==1.25.8
wcwidth==0.2.5
Werkzeug==1.0.1
